{% extends 'index.html.twig' %}
{% block body %}
<div>
	<div class="bs-callout bs-callout-info">De beroepsprofielen zijn beroepengroepen waartoe wij opleiden.</div>
<div>
{% if is_granted('ROLE_CUCO') %}
<a class="btn btn-success" href="{{path('admin_new_beroepsprofiel')}}">Nieuw beroepsprofiel</a>
{% endif %}
</div>
{% for profiel in beroepsprofielen  %}
<div class="pushup">
	<span>{{ profiel.beschrijving }}</span>
	{% if is_granted('ROLE_CUCO') %}
	<span><a href="{{path('admin_edit_beroepsprofiel', {'id': profiel.id})}}">aanpassen</a></span>
	<span><a href="{{path('admin_delete_confirm_beroepsprofiel', {'id': profiel.id})}}">verwijderen</a></span>
	{% endif %}
</div>
{% endfor %}
</div>
{% endblock %}
